@charset "UTF_8";

@import url('https://fonts.googleapis.com/css2? family= Passion+One & family= Sriracha & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Sriracha & display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}
*{
    margin: 0;
    padding: 0;
}

html,body {
    min-height: 100vh;
    background-color: dark;
    font-family: var(--fonte1);
}

header {
    background-color: rgb(0, 225, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    border: 2px solid black;
}

header h1 {
    padding: 35px;
    text-transform: uppercase;
    font-size: 40px;
    font-family: var(--fonte2);

}
 header p {
     padding-bottom: 50px;
     font-size: 18px;
 }
 header > p > a {
     color: blue;
 }

 header a, footer a {
     color: white;
     text-decoration: none;
     font-weight: bolder;

 }

 header a:hover, footer a:hover {
     text-decoration: underline;
 }

 section {
     padding-top: 10vh;
     padding-bottom: 10vh;
     line-height: 2em;
     padding-left: 30px;
     font-family: var(--fonte3);
     font-size: 1.5em;
 }
 section > p {
     padding-bottom: 2em;
 }

 section.normal {
     background-color: white;
     color: black;
 }
 section.imagem {
     background-color: rgb(34, 33, 33);
     color: white;
     text-shadow: inset 6px 6px 13px 0px black;
     background-attachment: fixed;
    
 }

 section.imagem p {
     display: inline-block;
     padding: 10px;
     width: 300px;
     background-color: rgba(0, 0, 0, 0.473);
     text-shadow: 2px 2px 0px black;
 }

 section#img01 {
     background-image: url("../imagens/background001.jpg");
     background-position: right center;
     background-size: cover;
 }

 section#img02 {
    background-image: url("../imagens/background002.jpg");
    background-position: right center ;
    background-size: cover;
 }

 footer{
     background-color: rgb(0, 225, 255);
     color: rgb(0, 0, 0);
     text-align: center;
     padding: 13px;
 }  